/*
The default style sheet for this site.
*/


/*Reset browser's own internal CSS stylesheet before reading this file. */


/**{
margin:0;
padding:0;
}*/

body {
    font-family:"Courier New", Courier, monospace;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;
    background-color: #FFF;}
 
header {
    background-color: #FFF;
	padding-bottom: 10px;
    padding-left: 0px;
    padding-top: 10px;
	text-align: center;
}

nav {
    background-color: #FFF;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
	text-align: center;
    /*
margin-top: -25px;
margin-bottom: -25px;
*/
}

li {
    list-style-type: none;
	color: #2e2e38;
}
     
.nav-links:link {
    color: #2e2e38;
    text-decoration: none;
	color: #4C4C4C
}

.nav-links:visited {
    color: #4C4C4C;
    text-decoration:none;
}

.nav-links:hover {
    color: lightblue;
}

.current-page {
    font-size: 1.4em;
    font-weight: bold;
}



article {
    background-color: #FFF;
    padding-bottom: 20px;
    text-align: center;
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: center;
	
}

h1 {
        background-color: #FFF ;
    color: #4C4C4C;
    font-family:"Courier New", Courier, monospace;
    font-size: 2.1875em;
    padding: 25px 25px 25px 15px;
	text-align: center;

}

h2 {
    background-color: #FFF;
    color: #4C4C4C;
    font-family:  "Courier New", Courier, monospace;
	text-decoration: none;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 20px;
	text-align: center;
}

h3 {
    background-color:#FFF;
    color: #4C4C4C;
    font-family: "Courier New", Courier, monospace;
    font-size: .9375em;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;
	text-align: center;
}

p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
    padding-left: 40px;
	text-align: center;
    
}
